footer{
    font-size: 100%;
    color: #fff;
    background-color: #495e57;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-items: center;
    padding: 3%;
    width: 94vw;
    text-align: center;
}

.fSection{
    width: 80vw;
    font-weight: 100;
    padding-bottom: 4%;
}

.footHeader{
    color:#f4ce14;
    font-size: 105%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.navItems{
    display: grid;
    text-decoration: none;
    font-weight: 800;
    color: #000;
}

footer a{
    display: block;
    color:#fff;
    font-weight: 100;
}

.copyrt{
    display: grid;
    grid-column: 1/4;
    padding: 5%;
    justify-items: center;
    padding: 3%;
    border-bottom: none;
    padding-bottom: 0px;
}

@media(max-width:700px){
    .fSection{
        border-bottom: 1px solid #ffffff;
    }
}

@media (max-width: 550px){
    footer{
        display: block;
    }
    .contact p{
        display: inline-block;
        padding-left: 10%;
    }
}
