.container{
    display: grid;
    grid-template-columns: repeat(6, 12%);
    justify-items: center;
    align-items: center;
    height: 60px;

}

.nav-item{
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    font-size: 70%;
    text-decoration: none;
    color: #000;
    transition: 0.3s linear;
    width: 60px;
    height: 40px;
}

.nav-item:hover{
    background-color: #495E57;
    border-radius: 16px;
    color: #fff;
}

.hamburger{
    display:none;
    cursor:pointer;
}

@media(max-width:800px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70%;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-item{
        margin: 16px 0;
    }

    .container.active{
        left:0;
    }
}
